body {
  color: #000;
  background: #fff;
  font-family: Corbel, Verdana, Helvetica, Arial, Lucida, sans-serif;
  font-size: 84%;
  padding: 0;
  margin: 0;
  }

h1 {
  font-size: 1.3em;
  }

h2 {
  font-size: 1.1em;
  }

h3 {
  font-size: 1em;
  font-weight: bold;
  }

h4, h5, h6 {
  font-size: 0.9em;
  font-weight: bold;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
  }

p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
  text-indent: 1.6em;
  font-size: 1em;
  line-height: 1.6em;
  }

pre {
  background: #ddd;
  border: 1px solid #aaa;
  padding: 0.75em 1.5em;
  font-size: 12px;
  }

a {
  text-decoration: none;
  }

a, a:link {
  color: #03f;
  }

a:visited {
  color: #777;
  }

a:hover, a:focus {
  color: #bbe;
  }

a:active {
  color: #606;
  }

form {
  padding: 0;
  margin: 0;
  }

blockquote {
  border: 1px #ddd solid;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
  }

code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
  }

img {
  border: 0;
  }

ol, ul, dl {
  position: relative;
  }

dl {
  margin: 0.5em 0 1em 1.5em;
  }

dl dd {
  margin: 0 0 .5em 1.5em;
  }

#header {
  position: relative;
  padding: 1em 0 0 0;
  margin: 0;
  }

#header img {
  margin: 0 0.75em 0 1em;
  float: left;
  }

#header a:visited {
  color: #333;
  }

#header a:hover {
  background: transparent;
  }

#site-name {
  font-size: 2.5em;
  padding: 25px 0 0.2em 0;
  margin: 0;
  }
  
#site-name a {
  color: #333;
  }  

#site-slogan {
  color: #999;
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 0 0 1.2em;
  margin: 0;
  }

table#content {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  }

table#content tbody {
  border-top: 0 none;
  }

td.main-content {
  vertical-align: top;
  padding: 0em 1em 1em 1em;
  }

td.sidebar {
  vertical-align: top;
  padding: 0;
  width: 200px;
  }

.sidebar .block {
  background: #fff;
  border: solid 1px #999;
  margin: 0 5px 5px 5px;
  padding: 0 5px 5px 5px;
  }

.sidebar .block h2 {
  padding: 3px 0 0 0;
  margin: 0;
  font-size: 1em;
  }

.sidebar .block h3 {
  margin: 0 0 0.3em 0;
  }

.sidebar .block .feed-icon {
  text-align: center;
  }

.sidebar .block-search input.form-text {
  width: 100px;
  padding: 1px;
  margin-right: 5px;
  }

.sidebar .block-search button.form-submit {
  width: 60px;
  font-size: 12px;
  }

.sidebar .block a, .sidebar .block {
  color: #777;
  }

.sidebar .block a:visited, .sidebar .block h2, .sidebar .block h3 {
  color: #999;
  }

.sidebar .block a:hover {
  color: #03f;
  }

.more-link {
  float: none;
  text-align: right;
  font-style: italic;
  }

.block .more-link a {
  color: #333;
  }

.block .more-link a:hover {
  color: #03f;
  }

.item-list {
  margin: 0.25em 0 0 0;
  font-size: 0.9em;
  }

.item-list ul {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  }

.item-list ul li {
  margin: 0 0 0.25em 0;
  padding: 0 0 0 1em;
  line-height: 1.3em;
  list-style: none;
  }

#search {
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0;
  float: right;
  width: 200px;
  }

#search .form-text {
  margin-right: 3px;
  padding: 3px;
  }

#search .form-submit {
  padding: 2px;
  }

#top-nav {
  padding: 0;
  margin: 0 0 1.5em 0;
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
  }

#top-nav ul {
  margin: 0;
  padding: 2px 0 2px 0;
  }

#primary {
  font-size: 1.2em;
  line-height: 1.6em;
  border-top: solid 1px #999;
  }

#secondary {
  text-align: right;
  font-size: 1.1em;
  }

#primary li {
  margin-left: 2px;
  padding: 0;
  display: inline;
  list-style-type: none;
  }

#secondary li {
  margin-right: 5px;
  padding: 0;
  display: inline;
  list-style-type: none;
  }

#primary a {
  color: #111;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0 3px;
  }

#primary a:hover {
  color: #03f;
  }

#secondary a {
  color: #333;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  }

#secondary a:hover {
  color: #03f;
  }

#primary a.active, #primary a.active:hover, #secondary a.active, #secondary a.active:hover {
  color: #ccc;
  }

.breadcrumb {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  height: 1em;
  }

.main-content .node .content, .comment .content, .book .body {
  line-height: 1.5em;
  }

.main-content .node .content a, .comment .content a, .book .body a {
  border-bottom: 1px solid;
  }

.main-content .node, .book {
  margin: 0 1em 2em 1em;
  }

.main-content .content-title {
  font-size: 2em;
  margin: 0 0 1.6em 0;
  }

.main-content .node h2, .main-content h2 {
  padding: 0;
  margin: 0 0 0.25em 0;
  font-size: 1.8em;
  }

.main-content .node .info {
  color: #999;
  padding: 0 0 0.2em 0;
  margin: 0;
  font-size: 0.9em;
  }

.main-content .node .links, .main-content .node .terms {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  }

.main-content .node .terms {
  color: #999;
  font-weight: normal;
  text-align: right;
  }

.main-content .sticky {
  border: 1px solid #eee;
  padding: 0.5em;
  }

.links a.read-more {
  font-style: italic;
  font-size: 1.2em;
  }

.main-content .node .content {
  padding: 0;
  margin: 0;
  }

.main-content .node .info, .main-content .node .links, #mission {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
  }

#mission {
  color: #000;
  background: #eee;
  border: solid 1px #999;
  padding: 5px 10px;
  margin: 0 0 1.6em 0;
  font-size: 1.1em;
  text-indent: 0;
  width: auto;
  }

.main-content .box {
  border: 1px solid #eee;
  margin-bottom: 0.5em;
  }

.main-content .box .content {
  padding: 0.5em;
  }

.main-content .box h2 {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  }

.comment {
  border-top: solid 1px #eee;
  border-left: solid 1px #eee;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ddd;
  padding: 1em;
  margin: 1.5em 0;
  }

.comment-folded {
  padding: 0.5em;
  margin: 1.5em 0;
  }

.comment-new .new {
  color: #4d0;
  text-align: right;
  font-size: 1.1em;
  display: block;
  padding-bottom: 0.5em;
  width: 100%;
  }

.comment .content, .comment .content p {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-indent: 0;
  }

.comment .title, .comment .author, .comment .links {
  font-family: Helvetica, Arial, Lucida, Verdana, sans-serif;
  }

.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.5em;
  }

.comment .title, .comment .title a.active {
  color: #444;
  background: #fff;
  }

.comment .author {
  color: #333;
  font-size: 0.9em;
  padding: 0.1em 0 0.3em 0.75em;
  }

.comment .links {
  color: #333;
  padding: 0.75em 0 0 0;
  margin: 0;
  }

#footer {
  color: #666;
  background: #fff;
  border-top: solid 1px #777;
  padding: 1em 1em 1em 1em;
  font-size: 0.9em;
  text-align: center;
  }

#footer p {
  text-indent: 0;
  margin-bottom: 1em;
  }

fieldset {
  border: 1px solid #999;
  }


.form-item {
  margin: 3px 0;
  padding: 0.3em 0;
  }

.form-radio, .form-checkbox {
  background: transparent;
  border: 0;
  }

.main-content .box .content .form-item textarea {
  width: auto;
  }

input.form-text, input.form-password {
  border: solid 1px #ddd;
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
  }

textarea {
  border: 1px solid #ddd;
  }

input:focus, textarea:focus {
  border: 1px solid #03f;
  }

h3.form-title {
  text-align: left;
  }

form .form-item .title {
  border: 0;
  border-bottom: #ddd solid 1px;
  color: #777;
  background: transparent;
  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: left;
  }

select {
  background: #eee;
  color: #000;
  margin: 1px 5px;
  }

.container-inline {
  margin: 0 0 1.6em 0;
  }

.container-inline div {
  display: inline;
  }

.pager {
  text-align: center;
  }

.pager div {
  padding: 0.5em;
  }

.main-content li {
  padding-bottom: 0.25em;
  }

#message {
  background: #fff;
  border: 2px solid #6e2;
  padding: 2em;
  margin: 1em 2em;
  }

li.leaf {
  list-style-type: square;
  }

div.picture {
  border: 0;
  float: left;
  margin: 0 1em 0.3em 0;
  }

br.clear {
  clear: both;
  }

.breadcrumb, .main-content .content-title, .links a.read-more {
  color: #111;
  }

.links a.read-more:hover {
  color: #03f;
  }

.box {
  border: 1px solid #eee;
  }

.box h2 {
  color: #999;
  }

.marker, .error {
  color: #f00;
  }

.ok {
  color: #080;
  }

.path a, .path a:visited {
  color: #777;
  }

.tabs li .active, .tabs li .active:hover {
  color: #ccc;
  background: #fff;
  }

.calendar td, .calendar th {
  border-color: #eee;
  }

.calendar .day-normal {
  background: #fff;
  }

.calendar .day-future {
  background: #fff;
  }

.calendar .day-today {
  background: #333;
  color: #fff;
  }

.calendar .day-today a {
  color: #fff;
  }

.calendar .day-selected {
  background: #555;
  color: #fff;
  }

.calendar .day-link {
  background: #ddd;
  color: #fff;
  }

a.feed-icon {
  display: block;
  padding: 0 0 1em 1em;
  margin: 0;
}
  